include ../../components/button/button
include ../../components/header/header.pug
include ../../components/tabs/tabs.pug
mixin productionPage(props)
    .production__img
        img(src=props.src, alt="")
    .production__info.info 
        h3.info__title= props.title
        .info__description= props.description
        .info__definition 
            img.definition(src="../../assets/img/production/paper-sheet-svgrepo-com\ 1.png")
            p= props.definition
        .info__specification
            img.specification(src="../../assets/img/production/building-svgrepo-com\ 1.png")
            p= props.specification
        .info__button
            +button("","заказать","white")
    .production__footer-info.footer-info 
        h3.footer-info__title= props.footerTitle
        .footer-info__description=props.footerDescription
        ul.footer-info__specification
            block

