extends ../layout/default
include ../../components/meter/meter

block variables
	- var title = 'FMGroup'
block content

	//- include ../data/data.pug
	- let screens = ["Продукты","Приоритет","О нас","Заявка","Контакты"]
	main
		.controls
			button.control.control__up  
				.up ранее 
				include ../../../assets/svg/arrow.svg

			button.control.control__down 
				.down далее
				include ../../../assets/svg/arrow.svg 

		.container
			section.screen.tiser#tiser(data-name="Тизер") 
				include ../screens/tiser.pug
			section.screen.products#products(style={opacity:0,display:'none'} data-name=screens[0]) 
				include ../screens/products.pug
			section.screen.priority#priority(style={opacity:0,display:'none'} data-name=screens[1])  
				include ../screens/priority.pug
			section.screen.about#about(style={opacity:0,display:'none'} data-name=screens[2])  
				include ../screens/about.pug
			section.screen.application#application(style={opacity:0,display:'none'} data-name=screens[3])  
				include ../screens/application.pug
			section.screen.contacts#contacts(style={opacity:0,display:'none'} data-name=screens[4])  
				include ../screens/contacts.pug

		.meter-indicator 
			.meter-indicator__title Тизер
			+meter(screens)