extends ../layout/project
//- include ../../components/header/header.pug
include ../../components/tabs/tabs.pug
include ../mixin/production-page
include ../mixin/slider.pug
block variables
    - let title = 'FMGroup | Продукция'
block page
    -
        const data = [
            {
                id:0,
                def:{
                title:"Серия СПР РС",
                description: "Станок плазменной резки серии СПР РС",
                definition: "работа с листовым материалом толщиной до 100 мм",
                specification: "конструкция разнесенная, подходит для стационарного монтажа на предприятии",
                footerTitle: "Идеальное решение для средних и крупных производств",
                footerDescription: "Линейка станков плазменной резки с ЧПУ. Разработаны для ценителей высокоточной и высокопроизводительной, качественной резки металла 24 часа в сутки, 7 дней в неделю.",
                src: "../../assets/img/tiser/tool.png"
                },
                solutions: [
                    "Компания FMGroup предлагает решения для всех типов производства",
                    "Станки с различными техническими решениями для легкой и тяжелой серии",
                    "Комплексный подход — адаптация различных источников плазменной резки",
                    "Широкая линейка размеров рабочего поля",
                    "Оснащение механизированным газовым резаком как на отдельном суппорте, так и сменная конструкция",
                ]
                    },
        ]
    .production
        .big-label__container.big-label__container_up
            .big-label__title.big-label__title_up FMGroup
        .big-label__container.big-label__container_down
            .big-label__title.big-label__title_down FMGroup
        .production__body 
            - let tabs = ["Оборудование для плазменной резки","Оборудование для обработки стекла","Оборудование для мебельного производства"]
            +tabs(tabs)
            article.production__category
                section.category(data-category=0 style="opacity: 1;")
                    +slider('production__slider_0')
                        .production__page.slider__item(data-page="0")
                            +productionPage(data[0].def)
                                each i in data[0].solutions
                                    li
                                        span= i
                        .production__page.slider__item(data-page="1")
                            +productionPage(data[0].def)
                                each i in data[0].solutions
                                    li
                                        span= i
                        .production__page.slider__item(data-page="1")
                            +productionPage(data[0].def)
                                each i in data[0].solutions
                                    li
                                        span= i
                section.category(data-category=1 style="opacity: 0; display: none;")
                    +slider('production__slider_1')
                        .production__page.slider__item(data-page="0")
                            +productionPage(data[0].def)
                                each i in data[0].solutions
                                    li
                                        span= i
                        .production__page.slider__item(data-page="1")
                            +productionPage(data[0].def)
                                each i in data[0].solutions
                                    li
                                        span= i
                        .production__page.slider__item(data-page="1")
                            +productionPage(data[0].def)
                                each i in data[0].solutions
                                    li
                                        span= i
                section.category(data-category=2 style="opacity: 0; display: none;")
                    +slider('production__slider_2')
                        .production__page.slider__item(data-page="0")
                            +productionPage(data[0].def)
                                each i in data[0].solutions
                                    li
                                        span= i
                        .production__page.slider__item(data-page="1")
                            +productionPage(data[0].def)
                                each i in data[0].solutions
                                    li
                                        span= i
                        .production__page.slider__item(data-page="1")
                            +productionPage(data[0].def)
                                each i in data[0].solutions
                                    li
                                        span= i

