//- include ../mixin/slider.pug
//- .container-products
//- .products-wrapper
//- .container-products
//- +slider("products")
//-     each i in [0,1,2,3,5,6]
//-         .slider__item
-
    const arr=[
        {
            img:'../../assets/img/tiser/tool.png',
            points:[
                {top:110,left:55,text:{text:'something about 1 and 1 point', top: 0, left: 0}},
                {top:235,left:340,text:{text:'something about 1 and 2 point', top: 0, left: 0}},
                {top:30,left:577, text:{text:'something about 1 and 3 point', top: -0, left: 0}}
            ],
            title:'СПР ЦС',
            desc:'Станок плазменной резки серии СПР ЦС подходит для работы с листовым материалом толщиной до 50 мм'
        },
        {
            img:'../../assets/img/tiser/stanok-trubo-810px-min 1.png',
            points:[
            {top:87,left:107, text:{text:'something about 2 and 1 point', top: 142, left: 10}},
            {top:333,left:460, text:{text:'something about 2 and 2 point', top: -28, left: 123}},
            {top:110,left:335, text:{text:'something about 2 and 3 point', top: -10, left: 267}},
            ],
            title:'ПЗЦ ПК',
            desc:'В частности, существующая теория напрямую зависит от системы обучения кадров, соответствующей насущным потребностям.'
        },
        {   img:'../../assets/img/tiser/tool.png',
            points:[
            {top:60,left:15, text:{text:'something about 3 and 1 point', top: -20, left: 120}},
            {top:119,left:85, text:{text:'something about 3 and 2 point', top: 20, left: 120}},
            {top:-2,left:366, text:{text:'something about 3 and 3 point', top: 100, left: 120}},
            ],
            title:'ИБН ВВ',
            desc:'Имеется спорная точка зрения, гласящая примерно следующее: сделанные на базе интернет-аналитики выводы описаны максимально подробно.'
        },
        {
            img:'../../assets/img/tiser/stanok-trubo-810px-min 1.png',
            points:[
            {top:28,left:39, text:{text:'something about 4 and 1 point', top: 0, left: 0}},
            {top:142,left:193, text:{text:'something about 4 and 2 point', top: 0, left: 150}},
            {top:36,left:157, text:{text:'something about 4 and 3 point', top: 0, left: 300}},
            ],
            title:'ЭКС МУ',
            desc:'Принимая во внимание показатели успешности, семантический разбор внешних противодействий, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для инновационных методов управления процессами.'
        }
    ]
each i,idx in arr 
    header.products__header(data-id=idx) 
        .products__title= i.title
        .products__desc= i.desc
.carousel
    each i,idx in arr
        a.carousel-item(href="#" data-id=idx)
            .carousel-item__wrapper
                img(src=i.img)
                each point in i.points
                    svg(class="carousel-item__point-svg" width=1 height=1 viewBox=`0 0 1 1` fill="none" xmlns="http://www.w3.org/2000/svg" style={top:0+'px', left: 0+'px'})
                        line(x1=0 y1=0 x2=1 y2=1 stroke="white" stroke-width="2" stroke-linecap="round")
                    .carousel-item__point(style={top: point.top+'px', left: point.left+'px'})
                        .carousel-item__inner
                            .carousel-item__sign +
                    .carousel-item__point-data(style={top:point.text.top+'px',left:point.text.left+'px'}) 
                        .carousel-item__point-text= point.text.text
.products__controls 
    button.products__control.products__control_prev
        img(src="../../assets/img/svg/arrow.svg", style={transform:'rotate(90deg)'})
    button.products__control.products__control_next
        img(src="../../assets/img/svg/arrow.svg", style={transform:'rotate(-90deg)'})