//- include ../mixin/slider.pug
//- .container-products
//- .products-wrapper
//- .container-products
//- +slider("products")
//-     each i in [0,1,2,3,5,6]
//-         .slider__item
include ../../components/header/header.pug
+header('logo') 
-
    const arr=[
        {
            img:'../../assets/img/tiser/tool.png',
            points:[
                {top:9,left:15,text:{text:'Супорт с плазменным резаком', top: -200, left:-120}},
                {top:18,left:32,text:{text:'Супорт с газовым резаком', top: 604, left: -219}},
                {top:48,left:73, text:{text:'Стойка ЧПУ', top: 264, left: -246}}
            ],
            title:'серия УПМР',
            desc:'Система газокислородной резки FMG УПМР c ЧПУ позволяет обрабатывать металл толщиной от 0,5 до 200 мм'
        },
        {
            img:'../../assets/img/production/APU_3015_Premialnaya3.png',
            points:[
            {top:190,left:280, text:{text:'Панель управления', top: -14, left:58}},
            {top:100,left:240, text:{text:'Рабочая камера', top: 0, left: 0}},
            {top:350,left:450, text:{text:'Рабочий экран', top: 81, left: 0}},
            ],
            title:'АПУ-3015 Premium',
            desc:'Автоматизированная пескоструйная установка для матирования и нанесения рисунка на стекла и зеркала'
        },
        {   img:'../../assets/img/production/APU_3522.png',
            points:[
            {top:60,left:15, text:{text:'something about 3 and 1 point', top: -20, left: 120}},
            {top:119,left:85, text:{text:'something about 3 and 2 point', top: 20, left: 120}},
            {top:-2,left:366, text:{text:'something about 3 and 3 point', top: 100, left: 120}},
            ],
            title:'АПУ-3522 Premium',
            desc:'Автоматизированная пескоструйная установка для матирования и нанесения рисунка на стекла и зеркала'
        },
        {
            img:'../../assets/img/production/sprrs1.png',
            points:[
            {top:290,left:380, text:{text:'Безлюфтовый редуктор', top: 100, left: 0}},
            {top:142,left:193, text:{text:'Портал', top: 0, left: 0}},
            {top:150,left:500, text:{text:'Рабочий стол', top: 0, left: 50}},
            ],
            title:'серия РС-1',
            desc:'Система газокислородной резки FMG РС-1 c ЧПУ позволяет обрабатывать металл толщиной от 0,5 до 50 мм.'
        }
    ]
each i,idx in arr 
    header.products__header(data-id=idx) 
        .products__title= i.title
        .products__desc= i.desc
.carousel
    each i,idx in arr
        a.carousel-item(href="#" data-id=idx)
            .carousel-item__wrapper
                img(src=i.img)
                each point in i.points
                    .carousel-item__point(style={top: point.top+'%', left: point.left+'%'})
                        svg(class="carousel-item__point-svg" width=1 height=1 viewBox=`0 0 1 1` fill="none" xmlns="http://www.w3.org/2000/svg" style={top:0+'px', left: 0+'px'})
                            line(x1=0 y1=0 x2=1 y2=1 stroke="white" stroke-width="2" stroke-linecap="round")
                        .carousel-item__inner
                            .carousel-item__sign +
                        .carousel-item__point-data(style={top:point.text.top+'%',left:point.text.left+'%'}) 
                            .carousel-item__point-text= point.text.text
.products__controls 
    button.products__control.products__control_prev
        img(src="../../assets/img/svg/arrow.svg", style={transform:'rotate(90deg)'})
    button.products__control.products__control_next
        img(src="../../assets/img/svg/arrow.svg", style={transform:'rotate(-90deg)'})